.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.row.increase-min-height {
  min-height: calc(75vh);
}

ul li.nav-item {
  margin: 0 5px;
}

ul.dropdown-menu.user-profile {
  margin: 0;
  padding: 0;
  top: 135%;
  min-width:13rem;

}

img.user-profile-dropdown {
  cursor: pointer;
}

ul.dropdown-menu.dropdown-menu-right.user-profile:before {
  right:15px !important;
  left: auto;
}

ul.dropdown-menu.dropdown-menu-right.user-profile li {
  margin:20px;
}

ul.dropdown-menu.dropdown-menu-right.user-profile li a {
  text-decoration: none;
}

.flex-item-two-columns {
  flex: 50%;
}

ul.story-button {
  padding: 0;
}
ul.story-button li {
  padding: 0;
  border: none;
  display: inline;
  margin-right: 10px;
}

.top-user-info span {
  display: inline;
  margin: 0 5px;
}


@media only screen and (max-width: 540px) {
  ul.story-button {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px ridge;
    border-bottom: 1px ridge;
  }
  ul.story-button li {
    margin: 5px 0;
    display: block;
    height: 30px;
    flex: 50%;
  }
  .top-user-info span {
    display: block;
    margin: 5px 0;
  }
}

@media only screen and (max-width: 990px) {
  .flex-item-two-columns {
    flex: 100%;
  }

  ul.navbar-nav.input-search {
    margin-right: 0 !important;    
  }
  .input-search input {
    margin-bottom: 1rem;
  }

  .dropdown.user-profile {
    text-align: center;
  }

  .dropdown.user-profile .dropdown-menu.user-profile {
    right: auto;
    left: 250px;
  }
  ul.dropdown-menu.dropdown-menu-right.user-profile:before {
    right: 90px !important;
  }
}
@media only screen and (max-width: 765px) {
  .dropdown.user-profile .dropdown-menu.user-profile {
    left: 175px !important;
  }
  .profile .user-info {
    text-align: center;
  }
}

div.data-page-switch {
  align-items: center;
  justify-content: center;
}
div.data-page-switch ul {
  margin: 0;
  padding: 0;
}
div.data-page-switch ul li.data-page-info {
  display: inline;
  border: 0;
}

div.row.filter-data {
  justify-content: space-between;
}

div.row.filter-data .search {
  max-width: 220px;
}

div.row.filter-data .limit {
  max-width: 110px;
}

div.row.filter-data .sort {
  max-width: 200px;
}


div.medium-editor-element p {
  font-family: "sans-serif", "Georgia";
  font-size: 20px;
  line-height: 1.7;
  border-bottom: 1px ridge;
}

input.input-title-story {
  width: 100%; 
  border: 0; 
  outline: 0; 
  background: transparent; 
  border-bottom: 1px solid silver;
  font-family: "sans-serif", "Georgia";
  font-size: 30px;
  line-height: 1.7;

}

input.input-title-story::placeholder {
  font-family: "sans-serif", "Georgia";
  font-style: italic ;
}

article.article-post p {
  text-align: justify;
}

.cursor-pointer {
  cursor: pointer;
}

.invalid-feedback-story {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 85%;
  color: #ea2f65;
}